body{
	background-image: url(Фон.png);
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed
}
#main_menu{
    left: 0px;
    top: 0px;
    position: fixed;
    background-color: #F56C00;	
    width: 100%;
    height: 5%;
}
#inf{
	transform: scale(1.0);
	transition: 0.5s all;
    background-color: #F56C00;	
}
#inf:hover{
	transform: scale(1.05);
    background-color: #DE480B;	
} 
#projects{
	transform: scale(1.0);
	transition: 0.5s all;
    background-color: #F56C00;	
}
#projects:hover{
	transform: scale(1.05);
    background-color: #DE480B;	
} 
#News{
	transform: scale(1.0);
	transition: 0.5s all;
    background-color: #F56C00;	
}
#News:hover{
	transform: scale(1.05);
    background-color: #DE480B;	
} 
#Discord{
	transform: scale(1.0);
	transition: 0.5s all;
    background-color: #F56C00;	
}
#Discord:hover{
	transform: scale(1.05);
    background-color: #DE480B;	
} 


.dropbtn {
    background-color: #F56C00;
    color: #000000;
    padding: 16px;
    font-size: 100%;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F56C00;
    min-width: 300px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 7px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    transition: 0.5s all;
    background-color: #DE480B;
}

.dropdown:hover .dropdown-content {
    transition: 0.5s all;
    display: block;
}

.dropdown:hover .dropbtn {
    transition: 0.5s all;
    background-color: #DE480B;
}



/*
.dropbtn {
    background-color: #F56C00;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F56C00;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 7px 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #DE480B;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #DE480B;
}
*/